NODE_ENV=development

APP_HOST=localhost
APP_PORT=3000

DEV_DB_HOST=localhost
DEV_DB_PORT=3308
DEV_DB_DATABASE=usherctrl
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=

TEST_DB_HOST=localhost
TEST_DB_PORT=3306
TEST_DB_DATABASE=
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=

PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_DATABASE=
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=

TEMPFILE=tempfile
UPLOAD_STORAGE_DIR=../
LOGS_EVENT_DIR=events
LOGS_FIRST_ALARM_DIR=firstalarm

STORAGE=false


BUZZ_GPIO=26
GREEN_GPIO=16
YELLOW_GPIO=20
RED_GPIO=21

BUTT_ONE=19

#BUTTON LONG PRESS
BUTT_TWO=13